@charset "UTF-8";

html {
    /* font-size: 100%; */
    background: white;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
}

/* hearder */
#header_div {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5vh;
}

.header_right_ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 0.5vh;
}

li {
    display: inline-flex;
    font-size: 0.9rem;
    padding: 1vh;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration-line: underline;
} 

#header_left {
    margin-left: 1vw;
}

#header_right {
    margin-right: 1vw;
    margin-top: -1vw;
}

/* main */
#main_div {
    width: 100%;
    /* height: 70%; */
    margin-top: 21vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchbox {
    width: 30%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px rgb(212, 212, 212, 0.5);
    border-radius: 3rem;
    box-shadow: 2px 2px 5px rgb(212, 212, 212, 0.5);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.searchbox:hover {
    border: solid 1px rgb(212, 212, 212, 1);
    box-shadow: 3px 3px 5px rgb(212, 212, 212, 1);
}

#searchbox-text {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    resize: none; 
    box-shadow: none;
    background: none;
    width: 20vw;
}

.searchbox-content {
    margin: 1vh;
}

.bodylink button{
    background: rgb(212, 212, 212, 0.1);
    height: 2rem;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0.1rem;
    margin-top: 1rem;
    font-size: 0.8rem;
    border: 1px solid rgb(212, 212, 212, 0);
    border-radius: 5px;
}

.bodylink button:hover {
    border: 1px solid rgb(212, 212, 212, 5);; 
}

/* marginDiv */
#marginDiv {
    width: 100%;
    height: 21.3rem;
}

/* footer */
#footer_div {
    width: 100%;
    height: 20%;
    display: grid;
}

.country {
    width: 100%;
    height: 3rem;
    background-color: rgb(212, 212, 212, 0.3);
    border-bottom: solid rgb(172, 171, 171, 0.5) 1px;
    display: flex;
}

.country-Text {
    margin-left: 2%;
    margin-top: 0.9rem;
}

.foot-link {
    width: 100%;
    height: 3rem;
    background-color: rgb(212, 212, 212, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-link-left {
    margin-left: 2%;
}

.foot-link-right {
    margin-right: 2%;
}